
.newContainer {
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-size: 36px;
    color: #cfb53b;
    background-color: red;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    text-shadow: 
    0 0 10px #0fa, 
    0 0 20px #0fa, 
    0 0 30px #0fa, 
    0 0 40px #0fa;
}

.cell {
    opacity: 0;
    background-color: black;
}

#btnControl {
    margin: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

#btnControl button {
    width: 100px;
    height: 20px;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15px;
    margin: 0 auto;
    height: 80vh;
    width: 80vw;
    background-color: antiquewhite;
}
.buttonContainer {
    padding: 10px 50px 10px 50px ;
    display: flex;
    justify-content: space-between;
}

.scrolls {
    pointer-events: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}