.container {
    display: flex;
    flex-direction: column;
    /* align-content: stretch; */
    height: 100vh
}

.flexcontainer {
    flex: 1;
    justify-content: space-evenly;
    display: flex;
}

body {
    height: 100vh;
    width: 100vw;
}