/* .container {
    display: flex;
    flex-direction: column;
    /* align-content: stretch; 
    height: 100vh
}

.flexcontainer {
    flex: 1;
    justify-content: space-evenly;
    display: flex;
    /* align-content: stretch; 
}

body {
    height: 100vh;
    width: 100vw;
}

button {
    display: block;
    margin: 0 auto;
}

.cell {
    background-color: black;
    opacity: 0;
    flex: 1;
    height: 10px;
    width: 10px;
} */

.newContainer {
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-size: 36px;
    color: white;
    background-color: red;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

.cell {
    /* border: 2px black solid; */
    background-color: antiquewhite;
    flex: 1 1 200px;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-content: stretch; */
    /* column-gap: 0px; */
    border-radius: 15px;
    margin: 0 auto;
    height: 80vh;
    width: 80vw;
    background-color: black;
}
.buttonContainer {
    padding: 10px 50px 10px 50px ;
    display: flex;
    justify-content: space-between;
}

.scrolls {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}