.container {
    display: flex;
    flex-direction: column;
    /* align-content: stretch; */
    height: 100vh
}

.flexcontainer {
    flex: 1;
    justify-content: space-evenly;
    display: flex;
    /* align-content: stretch; */
}

body {
    height: 100vh;
    width: 100vw;
}

button {
    display: block;
    margin: 0 auto;
}

.cell {
    flex: 1;
    height: 10px;
    width: 10px;
}